nav {
  height: 100px;
  width: 100%;
  background-color:transparent;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

span {
  font-family: "Bungee";
  padding: 1.5em;
}

.nav-buttons button {
  border: transparent;
  background-color: transparent;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  padding: 1.5em;
  outline: none;
  
}

.nav-buttons:hover button {
  font-weight: 700;
} 

#scroll-up {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
  border: none;
  background: none;
  font-size: xxx-large;
  color: red;
  outline: none;
}

#scroll-up:hover {
  text-shadow: 5px 5px 5px #999;
  cursor: pointer;
}